{% extends 'base.html' %}

{% block authentication %}
<a href="#">Signout</a>
{% endblock %}

{% block content %}
<img src="{{ profile.profile_picture}}" alt=""><br>
<span>
    <h2>Username:</h2>
    <h2>{{ user.username }}</h2>
</span>
<span>
    <h2>First Name:</h2>
    <h2>{{ profile.first_name }}</h2>
</span>
<span>
    <h2>Last Name:</h2>
    <h2>{{ profile.last_name }}</h2>
</span>
<span>
    <h2>Email:</h2>
    <h2>{{ profile.email }}</h2>
</span>
<span>
    <h2>Grades:</h2>
    <h2>{{ profile.grades }}</h2>
</span>

<button><a href="#">Change Profile Picture</a></button>



{% endblock %}